<!DOCTYPE html>
<html lang="en" ng-app="e_learning">
<head>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>
    <script src="assets/js/ocLazyLoad.min.js"></script>
    <!-- <script src="assets/js/angular-route.js"></script> -->
    <div ng-include="'static/include/head.html'"></div>
</head>
<body>
    <base href="/"></base>
    <div ng-controller="login_ctrl" class="login" data-lbg="teal">
        <!-- Login -->
        <div class="l-block toggled" id="l-login">
            <div class="lb-header palette-Teal bg white">
                <i class="zmdi zmdi-account-circle"></i>
                <h3 style="color: white;">Hi there!</h3>
            </div>

            <div class="lb-body">
                <form ng-submit="login()" role="form" id="login">
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" ng-model="login_c.email" name="email" class="input-sm form-control fg-input">
                            <label class="fg-label">Email ID</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="password" ng-model="login_c.password" class="input-sm form-control fg-input">
                            <label class="fg-label">Password</label>
                        </div>
                    </div>

                    <button type="submit" class="btn palette-Teal bg">Sign in</button>
                </form>
                <div class="m-t-20">
                    <a href="https://instructor.elearning.technoblocks.in:8585/register" data-bg="teal" class="palette-Teal text d-block m-b-5" href="">Create an account</a>
                    <a href="https://instructor.elearning.technoblocks.in:8585/forget_password" data-bg="teal" href="" class="palette-Teal text">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/app_routing.js"></script>
</body>
</html>